.cart-text{
    text-align: start;
    margin-left: 20px;

}
.cart-total{
    border-top: 1px solid grey;
}
.tk-span{
margin-left: 200px;
}
.checkout-link{
    text-decoration: none;
    color: white;
}
.checkout-link:hover{
    
    color: white;
}

.cart-container{
    background-color: white;
    display: flex;
    justify-content: center;
    
}

.checkout-btn{
    width: 180px;
    height: auto;
}
