
.cart-total{
    border-top: 2px solid grey;
}

.checkout-link{
    text-decoration: none;
    color: white;
}
.checkout-link:hover{
    
    color: white;
}


.checkout-btn{
    width: 180px;
    height: auto;
}

.ul-container{
    display: flex;
    justify-content: space-between;
}
.ul-container ul{
    font-size: large;
}