.purchase-container{
    width: 440px;
    height: auto;
    background-color: white;
    
} 

.product-from{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.input-btn{
    width: 380px;
    
}

.order-container{
    background-color: white;
    width: 440px;
    height: 400px;
   /* display: flex;
    justify-content: center; */
    margin-left: 150px;
} 

.cart-total{
    border-top: 2px solid grey;
}

.ul-container{
    display: flex;
    justify-content: space-between;
}
.ul-container ul{
    font-size: large;
}