.web-name{
    font-size: x-large;
    font-weight: bold;
    padding-left: 20px;
}
.header-link{
    color: black;
    font-size: larger;
    font-weight: 700;
    
    text-decoration: none;
    
}
.header-link:hover{
    font-weight: 900;
    color: black;
    border-bottom: 3px solid gray;
    
    
}
.home-link{
    margin-left: 800px;
   
}
.dashboard-link{
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: black;
}
.dashboard-link:hover{
 color: black;
 font-weight: 900;
}
.sopping-cart{
    font-size: x-large;
}