/* .addToCart-btn{
    
} */

.product-det{
    text-align: justify;
    text-align: start;
}

.link-cart{
    text-decoration: none;
    color: white;
}
.link-cart:hover{
    color: white;
}
.detail-container{
    padding-left: 50px;
    border-left: 1px solid grey;
}

.productDetail-container{
    border-bottom: 2px solid gray;
}