.img-box:hover{
    transform: scale(1.1);
    }


    .card-container{
        overflow: hidden;
        
    }

    .card-container:hover{
        border: 1px solid gray;
    }

    .see-btn{
        width: 120px;
        
        
        margin: auto;
        
        
    }
    .link-btn{
        text-decoration: none;
    }